html {
    height: 100%;
    width: 100%;
}
.logo{
	background:url("/hellotheregames/bg/logo.svg") no-repeat center;
	
}
p{
	margin:0px;
	font-family: 'Comfortaa', cursive;
	color:white;
	font-size:50px;
}


body {
	margin:0px;
	top:0;
    text-align: center;
    height: 100%;
    width: 100%;
	background-color:#0074BB;
}

#view{
	width:100%;
	height:100%;
	background-color:transparent;
	z-index:5;
}


.hidden{
	display:none;
}


.button{
	margin: auto;
	position:absolute;
	bottom: 5%;
    font-size: 1em;
    color: #218fbf;
	left: 0;
	right: 0;
	color:white;
}

