html {
    height: 100%;
    width: 100%;
}

p{
	margin:0px;
}

body {
	margin:0px;
	top:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
	background-color:#0074BB;
}

#view{
	width:100%;
	height:100%;
	background-color:transparent;
	z-index:5;
}

#view p{
	padding:50px;
	color:white;
	font-size:50px;
}

.hidden{
	display:none;
}

@keyframes rotate {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

#inner_circle{
	z-index:-1;
	position:fixed;
	width:80%;
	height:100%;
	background:url("/hellotheregames/bg/inner_circle.svg") no-repeat center;
	margin:auto;
	left: 0;
	right: 0;
	
	animation-name: rotate;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#middle_circle{
	z-index:-1;
	position:fixed;
	width:120%;
	height:100%;
	background:url("/hellotheregames/bg/middle_circle.svg") no-repeat center;
	margin:auto;
	left: 0;
	right: 0;
	margin-left:-10%;
	animation-name: rotate;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

#outer_circle{
	z-index:-1;
	position:fixed;
	width:160%;
	height:100%;
	background:url("/hellotheregames/bg/outer_circle.svg") no-repeat center;
	margin:auto;
	left: 0;
	right: 0;
	margin-left:-30%;
	animation-name:rotate ;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

input{
	border-radius:1em;
	font-size:50px;
	line-height:100px;
	text-align:center;
	width:80%;
}
.button{
	margin: auto;
	position:absolute;
	bottom: 5%;
    font-size: 1em;
    color: #218fbf;
	left: 0;
	right: 0;
	color:white;
}

